{% extends "plantilla.twig" %}

{% block title %}PRODUCTOS{% endblock %}
{% block main %}
    <div class="table-responsive">
        <h2>PRODUCTOS</h2>
        <td><a href='agregarProducto?id={{ producto.id }}' class="btn btn-outline-info">CREAR</a></td>
        <table class="table">
            <thead class="table">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Precio</th>
                    <th>Stock</th>
                    <th></th>
                </tr>
            </thead>           
            <tbody>
                {% for producto in productos %}
                    <tr>
                        <td>{{ producto.id }}</td>
                        <td>{{ producto.nombre }}</td>
                        <td>{{ producto.descripcion }}</td>
                        <td>{{ producto.precio }}</td>
                        <td>{{ producto.stock }}</td>
                        <td><a href='editarProducto?id={{ producto.id }}' class="btn btn-outline-info">EDITAR</a></td>
                        <td><a href='eliminarProducto?id={{ producto.id }}' class="btn btn-outline-info">ELIMINAR</a></td>
                    </tr>
                {% endfor %}            
            </tbody>
        </table>
    </div>
{% endblock %}
